@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
    background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23222222' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23444444' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23666666' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23888888' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23aaaaaa' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23cccccc' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23EEE' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
    background-attachment: fixed;
    background-size: cover;
    font-family: poopins, sans-serif;
    color: black;
}

nav.controls {
    position: fixed;
    a:is(:link, :visited) {
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0009;
        height: 40px;
        transform: scale(0.8);
        opacity: 0.6;
        padding: 10px;
        width: 40px;
        transition: all 0.4s ease-in;

        
    }

    a:is(:hover) {
        opacity: 1;
        transform: scale(1);
    }
    svg {
        width: 40px;
    }
    
}

main {
    align-items: center;
    display: flex;
    flex-direction: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    min-height: 100vh;

    Header {

        h1,
        h2 {
            color: white;
            text-align: center;
            margin: 0;
        }

        h1 {
            font-size: 4rem;
            font-weight: 400;
        }

        h2 {
            font-size: 1.4rem;
            font-weight: 300;
        }
    }

    menu {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 1rem;
        
        a:is(:link, :visited) {
            background-color: #0009;
            border-radius: 50px;
            display: flex;
            color: #fffd;
            gap: 1rem;
            align-items: center;
            padding: 1rem;
            text-decoration: none;
            transition: all 0.5s ease-in;
            width: 280px;

            i {
                background-color: #ffaa00;
                border-radius: 20px;
                color: #0009;
                font-style: normal;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.5s ease-in;
                height: 34px;
                width: 34px;
            }
            
        }
        a:is(:hover)  {
            transform: translate(-10px);
            background-color: cadetblue;
        }
        a:is(:hover) i {
            transform: scale(1.2) rotateX(360deg);
        }
    }
}