extends inc/layout.pug 

block title 
    title Inheritance 
block content 
    header
        h1 Inheritance 
    section 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae atque odio veniam ab nisi, porro provident blanditiis illo ea distinctio et voluptates? Quaerat a porro nostrum fugiat iure recusandae exercitationem!