@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');

body {
  
background-color: #FFFC4E;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1000 1000'%3E%3Cg fill='%23ffe744'%3E%3Cpolygon points='1000 -50 0 -50 500 450'/%3E%3Cpolygon points='550 500 1050 1000 1050 0'/%3E%3Cpolygon points='-50 0 -50 1000 450 500'/%3E%3Cpolygon points='0 1050 1000 1050 500 550'/%3E%3C/g%3E%3Cg fill='%23ffd139'%3E%3Cpolygon points='1000 -133.3 0 -133.3 500 366.7'/%3E%3Cpolygon points='633.3 500 1133.3 1000 1133.3 0'/%3E%3Cpolygon points='-133.3 0 -133.3 1000 366.7 500'/%3E%3Cpolygon points='0 1133.3 1000 1133.3 500 633.3'/%3E%3C/g%3E%3Cg fill='%23ffbc2f'%3E%3Cpolygon points='1000 -216.7 0 -216.7 500 283.3'/%3E%3Cpolygon points='716.7 500 1216.7 1000 1216.7 0'/%3E%3Cpolygon points='-216.7 0 -216.7 1000 283.3 500'/%3E%3Cpolygon points='0 1216.7 1000 1216.7 500 716.7'/%3E%3C/g%3E%3Cg fill='%23FFA624'%3E%3Cpolygon points='1000 -300 0 -300 500 200'/%3E%3Cpolygon points='800 500 1300 1000 1300 0'/%3E%3Cpolygon points='-300 0 -300 1000 200 500'/%3E%3Cpolygon points='0 1300 1000 1300 500 800'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='%23FFC00F' points='0 707.1 0 292.9 292.9 0 707.1 0 1000 292.9 1000 707.1 707.1 1000 292.9 1000'/%3E%3Cg fill='%23ffba14'%3E%3Cpolygon points='464.6 -242.5 -242.5 464.6 464.6 464.6'/%3E%3Cpolygon points='535.4 464.6 1242.5 464.6 535.4 -242.5'/%3E%3Cpolygon points='-242.5 535.4 464.6 1242.5 464.6 535.4'/%3E%3Cpolygon points='535.4 1242.5 1242.5 535.4 535.4 535.4'/%3E%3C/g%3E%3Cg fill='%23ffb31a'%3E%3Cpolygon points='405.7 -301.4 -301.4 405.7 405.7 405.7'/%3E%3Cpolygon points='594.3 405.7 1301.4 405.7 594.3 -301.4'/%3E%3Cpolygon points='-301.4 594.3 405.7 1301.4 405.7 594.3'/%3E%3Cpolygon points='594.3 1301.4 1301.4 594.3 594.3 594.3'/%3E%3C/g%3E%3Cg fill='%23ffad1f'%3E%3Cpolygon points='346.8 -360.3 -360.3 346.8 346.8 346.8'/%3E%3Cpolygon points='653.2 346.8 1360.3 346.8 653.2 -360.3'/%3E%3Cpolygon points='-360.3 653.2 346.8 1360.3 346.8 653.2'/%3E%3Cpolygon points='653.2 1360.3 1360.3 653.2 653.2 653.2'/%3E%3C/g%3E%3Cg fill='%23FFA624'%3E%3Cpolygon points='287.9 -419.2 -419.2 287.9 287.9 287.9'/%3E%3Cpolygon points='712.1 287.9 1419.2 287.9 712.1 -419.2'/%3E%3Cpolygon points='-419.2 712.1 287.9 1419.2 287.9 712.1'/%3E%3Cpolygon points='712.1 1419.2 1419.2 712.1 712.1 712.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
font-family: Poppins, sans-serif;
}

nav.controls {
    position: fixed;
    a:is(:link, :visited) {
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0009;
        height: 40px;
        transform: scale(0.8);
        opacity: 0.6;
        padding: 10px;
        width: 40px;
        transition: all 0.4s ease-in;
    }
    a:is(:hover) {
        opacity: 1;
        transform: scale(1);
    }
    svg {
        width: 40px;
    }
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    min-height: 100vh;

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1, h2 {
            color: #fff9;
            text-align: center;
            margin: 0;
        }
        h1 {
            font-size: 3.4rem;
            font-weight: 400;
        }
        h2 {
            font-size: 1.4rem;
            font-weight: 300;
        }
        img {
            border-radius: 50%;
            background-color: #fff3;
            width: 160px;
            border: 10px solid #fff9;
        }
    }

    menu {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 0.4rem;
        
        a:is(:link, :visited) {
            background-color: #0009;
            border-radius: 50px;
            display: flex;
            color: #fffd;
            gap: 1rem;
            align-items: center;
            padding: 1rem;
            text-decoration: none;
            transition: all 0.5s ease-in;
            width: 280px;

            i {
                background-color: #b8c2d0;
                border-radius: 20px;
                color: #0009;
                font-style: normal;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.5s ease-in;
                height: 34px;
                width: 34px;
            }
        }

        a:is(:hover) {
            opacity: 1;
            transform: scale(1);
        }
        svg {
            width: 40px;
        }
        
    }

    section {
        border-radius: 10px;
        background-color: #fff9;
        color: #0009;
        padding: 10px;
        width: 400px;
        h3 {
            border-bottom: 2px dotted #0004;
            color: #0006;
            font-size: 1.6rem;
            margin: 0;
            width: fit-content;
        }
        p {
            font-size: 1.4rem;
            margin: 10px 0;
        }
        xmp {
            border-radius: 10px;
            background-color: #0009;
            color: #fff9;
            padding: 0 10px 10px 10px;
        }
    }
}
